<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order.</h1>
    <p> Here are your order details for order <%= @order.id %></p>
    <% @order.line_items.each do |item| %>
        <li><%= item.product.name %></li>
    <% end %>
    <p>
    Total: $<%= @order.total_cents / 100.00 %>
    </p>
  </body>
</html>