// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "categories";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
div.user-login{
  position: relative;
  top: 15px;
}

.order-image img{
  width: 150px;
}

.danger {
  float: right;
  opacity: 0.8;
  background-color: coral;
  border-radius: 10px;
  color: black;
}

.danger:hover{
  opacity: 1;
  text-decoration: underline;
}

div.review-form {
  float: right;
}

.rate-field {
  width: 440px;
  margin-left: 10px;
}


.select-rating {
  margin-left: 30px;
}

.accept {
  float: right;
  opacity: 0.8;
  background-color: mediumseagreen;
  border-radius: 10px;
  color: black;
  margin-top: -10px;
}

.login-accept {
  @extend .accept;
  float: left;
}

.accept:hover {
  opacity: 1.0;
  text-decoration: underline;
}

.user-fail {
  color: red;
}

input.login {
  width: 400px;
}